.mainGrid {
  justify-content: center;
}

.icons {
  font-size: 30px;
}

.icons:hover {
  transition: 0.3s;
  color: gray;
}

.links {
  font-size: 30px;
  font-family: "Roboto";
}

.links:hover {
  transition: 0.3s;
  color: gray;
}

.rights {
  text-align: center;
  font-family: "Roboto";
  padding-top: 5vh;
  font-size: 20px;
}
