/* Slideshow */

.slideshow {
  margin: 0 auto;
  margin-top: 1.5rem;
  overflow: hidden;
  max-width: 1350px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 11px;
  width: 11px;
  border-radius: 50%;

  cursor: pointer;
  margin: 7px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: rgb(85, 76, 76);
}
